.gridContenedor {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 150px;
    gap: 10px;
    background-color: rgb(136, 182, 29);

}
.gridContenedor > div {
background-color: blue;
text-align: center;



}
body{
color: white;
background-color: black;


}
.gridItemUno{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

}

.gridItemDos{
    grid-column: 1/3;



}